<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div style="display: flex; justify-content: center; align-items: center; ">
      <img alt="Mi foto" src="assets/images/img.jpeg" style="border-radius: 100%; margin: auto;" />
    </div>
    <ion-card-header style="text-align: center;" >
      <ion-card-title>Regil Batista 2021-2251</ion-card-title>
      <ion-card-subtitle><a href="mailto:20212251@itla.edu.do">20212251@itla.edu.do</a></ion-card-subtitle>
      <ion-card-subtitle>Tel: (829)-573-4671</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>