.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .center-card {
    width: 80%; 
  }
  
  ion-card {
    transition: background-color 0.5s ease;
    align-items: center;
  }

  .blue-card {
    background-color: blue;
   
  }
  
  .pink-card {
    background-color: pink;

  }
  
  